# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#enviroment
.env

# Firebase Admin Key
backend/procrastination-killah-firebase-adminsdk-d0uav-56e96c5979.json


# Ignore node_modules globally
node_modules/

#Ignore openai_integration
openai_integration/

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
